Source: DEBIAN_PACKAGE-dkms
Section: misc
Priority: optional
Maintainer: Steffen Barszus <steffenbpunkt@gmail.com>
Build-Depends: debhelper (>= 7), dkms, libproc-processtable-perl
Standards-Version: 3.8.1

Package: DEBIAN_PACKAGE-dkms
Architecture: all
Depends: dkms (>= 1.95), ${misc:Depends}, libproc-processtable-perl
Conflicts: s2-liplianin-dkms, v4l-dvb-dkms
Replaces: s2-liplianin-dkms, v4l-dvb-dkms
Description: DEBIAN_PACKAGE driver in DKMS format.
